// COLOR
$color-primary: #3dcb95;
$color-primary-light: #43cea2;
$color-primary-dark: #185a9d;

$color-secondary-light: #fccf31;
$color-secondary-dark: #f55555;

$color-tertiary-light: #2afadf;
$color-tertiary-dark: #4c83ff;

$color-4-light: #15f78d;
$color-4-dark: #2c9051;

$color-5-light: #fbc8d4;
$color-5-dark: #9795f0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.5rem;
